:root {
    --dkorange: #FE905B;
    --medorange: #FCB37E;
    --ltorange: #FEEBCD;
}

body {
    background-color: var(--ltorange);
}

h1 {
    font-family: 'Quantico', 'Sans Serif';
    font-size: 31px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   
    padding-left:15px;
}

h2 {
    font-family: 'Jura';
    font-size: 25px;
    font-weight: 900;
    margin:0;

}


h3 {
    font-family: 'Quantico', 'Sans Serif';
    font-size: 22px;
    font-weight: 100;
    margin:0;

}


a:link, a:visited {
    color: black;
    font-family: Jura;
    font-size: 23px;
}




p {
    font-family: Jura;
    font-size: 18px;
    margin:0;

}



.svg-shadow {
    filter: drop-shadow(0 2px 2px rgb(0 0 0 / 0.2));
}

.navbar {
    border: solid 1px black;
    margin-top: 20px;
}

.title-circles {
    display:flex;
    position:absolute;
    right:15px;
    height:100px;
    z-index: -1;
}


.circle {
    width:100px;
    height:100px;
    border-radius:50%;
    margin-right: 10px;
}

.dkpurplerad {
    background-image: radial-gradient(#A887BF, rgba(218, 126, 249, 0), transparent 100px);
}


.ltpurplerad {
    background-image: radial-gradient(#D7C8E1, rgba(238, 186, 246, 0), transparent 100px);
}

.yellowrad {
    background-image: radial-gradient(#FFC835, rgba(255, 243, 74, 0), transparent 100px);
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    gap:30px;
}

.alert-primary {
    background-color: #FE905B;
    border: 1px solid black;
    color: black;
}

.accordion {
    border: 1px solid black;
    border-radius: 8px;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: black;
    --bs-accordion-active-bg: #FCB37E;
    --bs-accordion-btn-bg: #FCB37E;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-border-color: black;
}




.underline {
    text-decoration: underline;
}